<div class="project">
	<div class="hover-container">
		<img src="https://s3.eu-west-2.amazonaws.com/project2sparta<%= project.image.path %>" class="project-image">
		<div class="hover-mask">
			<div class="hover-text">
				<h3><%= project.title %></h3>
				<%= link_to "Show Page", project unless action_name == "show" %>
			</div>	
		</div>
	</div>
</div>