<div class="project">
	<div class="hover-container">
		<img src="<%= project.image %>" class="project-image">
		<div class="hover-mask">
			<h3><%= project.title %></h3>
			<%= link_to "Show Page", project unless action_name == "show" %>	
		</div>
	</div>
</div>