<div id="landing">
	<div id="landingText">
		<h3>Welcome to the Sparta Global project portfolio web app!</h3>
		<p>On this site you will find a sample of the best that Spartans have to offer. You will find a directory of students and a show page of some of the top projects as voted by the Sparta community!</p>
	</div>
</div>

<div id="block"></div>
<%= link_to "New Project", new_project_path %>

<%= render @projects %>
